{% extends "department/department_base.html" %}

{% block content %}

  <div class="container jumbotron">

      <br>
    <h2>All Students of <a style="font-size:24px;" href="{% url 'departments:department_detail' department_slug=department.department_slug %}">{{department.name}}</a> </h2>

    <br><br>
    <h6><span style="font-weight:bold">Total students:</span> {{department.students.count }}</h2>

    <br>
    {# <h5> {{department.detail_html|safe}}</h4><br><br> #}

  </div>


  <div class="container">
    <section id="steps" class="steps section-bg" style="background-color:#fafcff">


      <hr>
      {% if department.students.count == 0 %}
        <h5>No students admitted in this department.</h5>

      {% else %}
    <div style="height:400px;overflow:auto;">
      <table id="details_table" style="text-align:center; " class="table table-bordered " align="center">
        <thead style="color:blue">
          <th> <p>Profile Pic</p> </th>
          <th> <p>Student Username </p> </th>
          <th> <p>Student ID</p> </th>
          <th> <p>Email</p> </th>
          <th><p> Division</p> </th>
          <th> <p>Session </p> </th>
        </thead>

        {% for student in department.students.all %}

        <tr >
          <td style="border:0px"><br> </td>
        </tr>

        <tr>
          {% if student.profile_pic %}
           <td><img src="{{ student.profile_pic.url }}"  height=120 width=120 alt=""></td>
          {% else %}
            <td><img src="/static/no_profile_pic.png"  height=120 width=120 alt=""></td>
          {% endif %}

          <td style="min-width:150px;"> <a href="{% url 'students:student_detail' department_slug=student.department.department_slug student_slug=student.student_slug %} " style="color:#1bac91; font-size:19px"> {{student.user.username}}</a> </td>
          <td style="min-width:150px;"> {{ student.ID_Number }} </td>

          {% if student.user.email %}
            <td style="min-width:200px;"> <span style="color:#2f5b9c;"> {{student.user.email}}</span></td>
          {% else %}
            <td style="min-width:200px;"><p> <span style="color:#2f5b9c;">Not given </span></p> </td>
          {% endif %}

          <td style="min-width:200px;"> <a href="{% url 'departments:department_detail' department_slug=student.department.department_slug %}"> {{ student.department.acronyms }} </a> </td>
          <td style="min-width:150px;"><p> <span style="color:#2f5b9c;">{{student.session}}</p> </td>
        </tr>


        {% endfor %}
      </table>
    </div>
      {% endif %}

      <hr>

    </section>
  </div>

<br><br><br>

{% endblock %}
