{% extends "department/department_base.html" %}

{% block content %}

  <div class="container jumbotron">
    <h2>Welcome to Project detail page!</h2>

    <br>
    <ul>
      <h6>Total students: {{project_details.students.count }}</h6>
      <h6>Total Departments : {{project_details.departments.count }}</h6>
    </ul>
    <br>

    {% if user.is_superuser or user.teacher %}
    <ul>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <a class="btn btn-lg btn-primary" href="{% url 'projects:update_project' project_slug=project_details.project_slug %}">
            <span class="fa fa-times-circle-ok"></span> Update Project
          </a>
        </div>

      <div class="col-lg-3 col-md-3">
        <a class="btn btn-lg btn-danger" href="{% url 'projects:delete_project' project_slug=project_details.project_slug %}">
          <span class="fa fa-times-circle-o"></span> Delete Project
        </a>
      </div>
      </div>
    </ul>
    {% endif %}
  </div>

<div class="container">
  <h4>Name of the Project: <span style="color:#1bac91; font-size:19px">{{project_details.name}}</span> </h4>
  <ul>

    <li><span style="color:#8a5030 ;"><strong>About : </strong> </span>{{ project_details.project_details|safe }}</li>
    <li><span style="color:#8a5030 ;"><strong>Software Required : </strong> </span>{{ project_details.software_required|safe }}</li>
    <li><span style="color:#8a5030 ;"><strong>lab : </strong> </span>{{ project_details.lab|safe }}</li>
    <li><span style="color:#8a5030 ;"><strong>taken : </strong> </span>{{ project_details.taken|safe }}</li>
    <li><span style="color:#8a5030 ;"><strong>Can be taken by : </strong> </span>{{ project_details.can_be_taken_by|safe }}</li>
    <li><span style="color:#8a5030 ;"><strong>Available : </strong> </span>{{ project_details.available|safe }}</li>

  </ul>
  <br><br>

</div>


<section id="portfolio" class=" section-bg">

    <div class="container">
      <h4>Divisions: </h4>
      <div class="row ">

        {% if project_details.departments.count != 0 %}
        <br>
        <ul>
        {% for department in project_details.departments.all %}

        <div class="col-lg-12 col-md-12 ">
          <li><a href="{% url 'departments:department_detail' department_slug=department.department_slug %}">{{ department.name }}</a></li>
        </div>
        {% endfor %}
        </ul>

      {% else %}
      <h5>No Divisions added in <span style="color:#1bac91;">{{project_details.name}}</span>. This site is under
        maintenance.</h2>
      {% endif %}
    </div>
  </div>
  </section>

<br><br><br><br>



{% endblock %}
