{% extends "department/department_base.html" %}
{% load bootstrap4 %}

{% block content %}


<section id="steps" class="steps section-bg">
  <div class="container jumbotron">
     <div class="container card border border-danger" style="background-color:#e0dada; width: 50rem; color:#8c000c">
    <div card-body>
      {% if formErrors %}
      <h4>Validation Error</h4>
      <h6>Check these fileds:</h6>
    {% endif %}

    {% if formErrors %}
      <ul>
        {% for error in formErrors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    </div>
  </div>


    {% if user.is_superuser or user.teacher %}
    <form id="project_form" method="post" action="" enctype="multipart/form-data">

      {% csrf_token %}
      <h1>Create New Project</h1>

      {% bootstrap_form form %}

      <h6>Choose Divisions</h6>
      <select name="departments" class="selectpicker department"
              multiple title="Choose one of the following..."
              data-live-search="true"
              data-actions-box="true">
        {% for department in departments %}
          <option value={{department.id}}> {{department.name}}</option>
        {% endfor %}
      </select>


      <br><br>
      <input type="submit" name="submit" value="Create Project" />
    </form>
    {% else %}
    <h2>You must be a superuser to Create Project</h2>
    {% endif %}
  </div>
</section>

<br><br>
{% endblock %}



<script>
  $( document ).ready(function() {
    $('.department').selectpicker();
  });
</script>

