{% extends "teachers/teacher_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

  <div class="container">
    <div class="container card border border-danger" style="background-color:#e0dada; width: 50rem; color:#8c000c">
    <div card-body>
      {% if teacher_form_errors or teacher_profile_form_errors %}
      <h4>Validation Error</h4>
      <h6>Check these fileds:</h6>
    {% endif %}

    {% if teacher_form_errors %}
      <ul>
        {% for error in teacher_form_errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if teacher_profile_form_errors %}
      <ul>
        {% for error in teacher_profile_form_errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    </div>
  </div>

    <div class="jumbotron">

      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}

        <h1>Register Here</h1>
        <h3>Fill up Teacher registration form</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% bootstrap_form teacher_form %}
          {% bootstrap_form teacher_profile_form %}

          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
